$font-bungee: 'Bungee', cursive;
$font-sans: 'Source Sans Pro', sans-serif;
$color-white: #FFFFFF;

nav {
  font-family: $font-bungee;
  height: 120px;
  width: 100%;
  color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  
}

.nav-bar-left {
  display: flex;
  flex-direction: row;
  padding-top: 3em;
  padding-left: 1.5em;

}

.nav-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 1.5em;
  padding-bottom: 1em;
  align-items: center;
  font-size: 80%;
  font-family: $font-sans;
  
}

