$color-blue: #4056A1;
$color-white: #FFFFFF;
$color-grey: #545149;
$color-yellow: #f4f1ec;
$color-red: red;
$font-bungee: 'Bungee', cursive;

// form default display none, showing after user click 'write a new tweet'
form {
  display: none;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
}

.tweet-button {
  background-color: $color-blue;
  font-family: $font-bungee;
  color: $color-white;

}

.counter {
  font-family: $font-bungee;
  color: $color-grey;
}

.tw-co {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
  padding-right: 0.4em;
}

textarea {
  border-bottom: 0.2em solid #545149;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  width: 100%;
  background-color: $color-yellow;
  resize: none;
}

.red-counter {
  font-family: $font-bungee;
  color: $color-red;
}